<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis velit eget malesuada hendrerit. Nam massa sem, ullamcorper in odio sed, luctus aliquet eros. Proin.</p>

        <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><i class="fa fa-gears"></i> Curabitur</h2>

            <p>Nec mi ipsum. Maecenas auctor, tellus eget tempus rhoncus, nisl mauris accumsan tellus, in molestie eros massa nec libero. Donec egestas lorem sit amet tellus convallis hendrerit vel a felis. Donec sit amet dolor dui. Nulla facilisi. Cras nec iaculis turpis. Pellentesque congue posuere quam.</p>

            <p><a class="btn btn-default" href="/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-globe"></i> Proin</h2>

            <p>Tincidunt quam in erat varius, ultrices adipiscing ipsum pulvinar. Curabitur venenatis vehicula luctus. Aliquam pellentesque risus augue, vitae tristique ligula malesuada a. Donec tempus tincidunt ante eget dapibus. Nunc pellentesque erat ut velit pulvinar, non adipiscing erat volutpat.</p>

            <p><a class="btn btn-default" href="/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><i class="fa fa-trophy"></i> Integer</h2>

            <p>Ullamcorper, enim ac facilisis tincidunt, felis urna vehicula dolor, facilisis dictum metus massa a ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum iaculis dui in tortor dignissim malesuada. Ut condimentum eu neque quis dictum.</p>

            <p><a class="btn btn-default" href="/" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
