
* {
  outline: 0 !important;
}

body {
  padding-top: 50px;
}

footer {
  color: @gray-light;
  font-size: @font-size-small;
  text-align: center;

  a, a:hover, a:focus {
    color: inherit;
  }
}

// angular-ui-bootstrap
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.build-tabs ul.nav-tabs {
  border: 0;

  li.active a, li.active:hover a {
    border: 0;
    border-bottom: 1px solid navy;
    margin-bottom: 1em;
  }
  li a, li:hover a {
    background: none;
    border: 0;
    border-bottom: 1px solid #ddd;
  }
  li:hover a {
    border-bottom: 1px solid navy;
  }
}
